<div class="container header">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
      <img height="40" alt="Logo" src="../assets/logo3.png" />
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
      <form class="form-inline form-right">
        <input
          class="form-control"
          type="search"
          placeholder="Find city"
          aria-label="Find city"
          (click)="onInputClick()"
          (input)="inputSearchChange($event.target.value)"
        />
        <div class="btn btn-outline-light center">
          <fa-icon [icon]="faSearch"></fa-icon>
        </div>
      </form>
      <div class="results hidden" id="city-results">
        <ul *ngIf="wasSearched">
          <li
            *ngFor="let city of searchTab; index as i"
            id="result{{ i }}"
            (click)="onCityClick(city)"
          >
            {{ city.name }} {{ city.country }}
          </li>
          <li *ngIf="searchTab.length < 1">Not found</li>
          <li *ngIf="searchTab.length < 2">...</li>
          <li *ngIf="searchTab.length < 3">...</li>
        </ul>
        <ul *ngIf="!wasSearched">
          <li>...</li>
          <li>...</li>
          <li>...</li>
        </ul>
      </div>
    </div>
  </div>
</div>
