<div class="container header">
  <div class="row">
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
      <img height="40" alt="Logo" src="../assets/logo3.png" />
    </div>
    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
      <form class="form-inline form-right">
        <input
          class="form-control mr-sm-2"
          type="search"
          placeholder="Find city"
          aria-label="Find city"
        />
        <button class="btn btn-outline-light my-2 my-sm-0" type="submit">
          <fa-icon [icon]="faSearch"></fa-icon>
        </button>
      </form>
    </div>
  </div>
</div>
