$btn_size: 40px
$li_height: 25px
$diff: 16.5px
$input_width: 169px
$white: #ffffff
$radius: 0.25rem

.header    
    max-width: 992px
    padding: 35px 
    .logo
        user-select: none
        font-size: 1.25em
        span 
            font-size: 1.75em
    img
        margin-left: 25px
    .row
        max-width: 100%
    .col-md-6
        padding: 0
    @media screen and ( max-width: 992px )
        max-width: 100vw
    @media screen and ( max-width: 350px )
        img
            max-width: 100vw
    .form-right
        float: right
        max-height: 43px
        min-width: $input_width + 40px
        @media screen and ( max-width: 774px )
            width: $input_width - $btn_size
        @media screen and ( max-width: 450px )
            margin-top: 20px
        input 
            background-color: #ffffff00
            border-color: $white
            border-right-style: none
            border-radius: $radius 0 0 $radius
            color: $white
            max-width: $input_width
            height: $btn_size - 2px
            padding: 0 0.75rem
            @media screen and ( max-width: 774px )
                width: $input_width - $btn_size
            &:focus
                background-color: #ffffff0e
                box-shadow: none
            *:focus 
                box-shadow: none

        .btn
            padding: 0
            border-left-style: none
            border-radius: 0 $radius $radius 0
            width: $btn_size
            height: $btn_size
            max-height: $btn_size
.hidden
    visibility: hidden
.visible
    visibility: hidden
.collapse-results
    animation: fadeIn 0.5s ease-out
    @keyframes fadeIn
        0%
            opacity: 0
            transform: translateY(-20px)
        100%
            opacity: 1
            transform: translateY(0)
.results
    position: absolute
    z-index: 2
    right: 0
    bottom: - (3*$li_height)
    width: $input_width + $btn_size
    height: auto
    max-height: $li_height*3 + 18px
    overflow-y: scroll
    background-color: #ffffff0e
    border: 1px solid $white
    border-top: none
    border-radius: 0 0 $radius $radius
    @media screen and ( max-width: 774px )
        width: $input_width + $btn_size - $diff
        right: $diff
    @media screen and ( max-width: 575px )
        bottom: - 20px - (3*$li_height)
    ul
        padding: 0
        li 
            padding-left: 20px
            list-style: none
            height: $li_height
            cursor: pointer
            &:hover
                background-color: #ffffff2c
    &::-webkit-scrollbar 
        border-radius: 10px
        height: 10px
        width: 5px

    &::-webkit-scrollbar-thumb 
        background: #999
        border-radius: 10px

    &::-webkit-scrollbar-track 
        border-radius: 10px


.tooltip 
    position: relative
    display: inline-block

.tooltip 
    .tooltiptext 
        visibility: visible
        font-size: 10px
        width: 65px
        background-color: rgb(68, 68, 68)
        color: #fff
        text-align: center
        padding: 5px 0
        border-radius: 6px
        position: absolute
        right: 70%
        top: 110%
        z-index: 11

.tooltip:hover .tooltiptext 
    visibility: visible
