<section>
  <div class="container">
    <div class="wrap">
      <div class="today row">
        <div class="col-md-6 center">
          <img class="current-ico" [src]="imageUrl" alt="Image" />
        </div>
        <div class="col-md-6 weather-info">
          <div class="row">
            <div class="col-md-6">
              <p>12 &deg;</p>
              <p>pizgawica</p>
            </div>
            <div class="col-md-6">Breslau</div>
          </div>
        </div>
      </div>
      <div class="week">
        <ul class="center">
          <li>
            <img [src]="imageUrl" alt="Image" />
            <p>12 &deg;</p>
            <p>pizgawica</p>
            <p>Breslau</p>
          </li>
          <li>
            <img [src]="imageUrl" alt="Image" />
            <p>12 &deg;</p>
            <p>pizgawica</p>
            <p>Breslau</p>
          </li>
          <li>
            <img [src]="imageUrl" alt="Image" />
            <p>12 &deg;</p>
            <p>pizgawica</p>
            <p>Breslau</p>
          </li>
          <li>
            <img [src]="imageUrl" alt="Image" />
            <p>12 &deg;</p>
            <p>pizgawica</p>
            <p>Breslau</p>
          </li>
          <li>
            <img [src]="imageUrl" alt="Image" />
            <p>12 &deg;</p>
            <p>pizgawica</p>
            <p>Breslau</p>
          </li>
          <li>
            <img [src]="imageUrl" alt="Image" />
            <p>12 &deg;</p>
            <p>pizgawica</p>
            <p>Breslau</p>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
