<div class="row">
  <div class="col-md-6 center">
    <img id="current-ico" class="sun" [src]="imageUrl" alt="Image" />
  </div>
  <div class="col-md-6 weather-info">
    <div class="row">
      <div class="col-md-6">
        <p class="big-temp">{{ temp }} <sup class="degrees">&deg;C</sup></p>
      </div>
      <div class="col-md-6 center">
        <p class="md-font">{{ weatherMain }}</p>
      </div>
    </div>
    <div class="row">
      <p class="md-font weather-main">{{ city }}</p>
    </div>
  </div>
</div>
