@import '../../../_animations.sass'

#current-ico
    display: inline-block
    width: 200px
    @media screen and ( max-width: 772px )
        width: 150px
.sun
    animation: spin 10s linear infinite   
.cloud
    position: absolute
    animation: move 5s linear infinite alternate
.clouds
    position: absolute
    animation: move 5s linear infinite alternate
.cloudy
    position: absolute
    animation: move 5s linear infinite alternate
.rain
    position: absolute
    animation: move 5s linear infinite alternate
.storm
    position: absolute
    animation: move 5s linear infinite alternate, zoom 0.5s linear infinite alternate
    transform: scale(1)
.snow
    animation: rotateAngle 1.5s linear infinite alternate  
.night
    animation: rotateAngle 3s linear infinite alternate  
        
.weather-info
    text-align: center
.weather-main-wrap
    max-width: 233px
    @media ( max-width: 770px )
        max-width: 100%
.center-row
    padding: 0 15px 0 15px
    width: 100%
    text-align: center
.weather-city
    margin-top: 50px
    letter-spacing: 8px