<div class="row">
  <div class="col-md-6 center">
    <img id="current-ico" class="rain" [src]="imageUrl" alt="Image" />
  </div>
  <div class="col-md-6 weather-info text-outline">
    <div class="row">
      <p class="font-md weather-city">
        {{ viewData.city }}, {{ viewData.country }}
      </p>
    </div>
    <div class="row">
      <div class="col-md-6">
        <p class="font-big">
          {{ viewData.temp }} <sup class="font-sm">&deg;C</sup>
        </p>
      </div>
      <div class="col-md-6 center">
        <p class="font-md">{{ viewData.main }}</p>
      </div>
    </div>
  </div>
</div>
