<ul class="center">
  <li>
    <img [src]="imageUrl" alt="Image" />
    <p>12 &deg;</p>
    <p>shitw</p>
    <p>Breslau</p>
  </li>
  <li>
    <img [src]="imageUrl" alt="Image" />
    <p>12 &deg;</p>
    <p>shitw</p>
    <p>Breslau</p>
  </li>
  <li>
    <img [src]="imageUrl" alt="Image" />
    <p>12 &deg;</p>
    <p>shitw</p>
    <p>Breslau</p>
  </li>
  <li>
    <img [src]="imageUrl" alt="Image" />
    <p>12 &deg;</p>
    <p>shitw</p>
    <p>Breslau</p>
  </li>
  <li>
    <img [src]="imageUrl" alt="Image" />
    <p>12 &deg;</p>
    <p>shitw</p>
    <p>Breslau</p>
  </li>
  <li>
    <img [src]="imageUrl" alt="Image" />
    <p>12 &deg;</p>
    <p>shitw</p>
    <p>Breslau</p>
  </li>
</ul>
