@import '../../../_variables.sass'
ul
    width: 100%
    display: inline-block
    list-style-type: none
    padding: 0
li 
    width: (100%/6)
    display: inline-block
    text-align: center
    padding: 20px
    border-left: 1px solid rgba(255, 255, 255, 0.486)
    &:first-child
        border: none
    img
        display: inline-block
        width: 100px
        @media ( max-width: 100px )
            width: 100%
    @media ( max-width: 992px )
        width: (100%/5)
    @media ( max-width: 753px )
        width: (100%/4)
    @media ( max-width: 603px )
        width: (100%/3)
    @media ( max-width: 455px )
        width: (100%/2)
    @media ( max-width: 307px )
        width: 100%